/* Dropdown.css */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-header {
  display: flex;
  padding: 4px 6px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid #ababab;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;
}

.header-text {
  flex-grow: 1;
}

.dropdown-content {
  position: absolute;
  top: 34px;
  display: inline-flex;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid #ababab;
  z-index: 1;
  background: #fbfbfb;
}

.dropdown-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 14rem;
  cursor: pointer;
}

.dropdown-option-label {
  color: #777d87;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.select-container {
  position: relative;
  width: 6rem;
}
.dropdown-selector{
  display: flex;
  padding: 4px 6px;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  border: 1px solid #ababab;
  background: #fff;
  cursor: pointer;
  width: 100%;
}
option{
  color: #565656;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: #fff;
  cursor: pointer;
  width: calc(100% - 12px);
  padding: 0px 6px;
}
option:hover{
  background: #f4f5f8;
}

