/* Styles for the Kanban card component */
.outer-card {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  width: calc(100% - 24px);
  border-radius: 7px;
  background: #fff;
}

/* Top row: User ID and Circular User Profile */
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 100%;
}
.top-row-title{
  color: #777d87;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.middle-row{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  align-self: stretch;
}
.middle-row-title{
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.bottom-row{
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.bottom-row-icon{
  border-radius: 4px;
  border: 1px solid #bec2c8;
  background: #fff;
  padding: 2px;
  width: 16px;
  height: 16px;
  color: #4C5159;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-row-tag{
  display: flex;
  padding: 3px 4px;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid #bec2c8;
  background: #fff;
}
.tag-radio{
  width: 10px;
  height: 10px;
  background: #bec2c8;
  border-radius: 50%;
}
.tag-text{
  color: #89919b;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

