.list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 20rem;
  max-width: 24rem;
  flex: 1;
  flex-shrink: 0;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

