
  .profileImageMain {
    border-radius: 100%;
    position: relative; 
  }
  .profileImage {
    width: 20px;
    height: 20px;
    border-radius: 50%; 
  }
  .dot {
    position: absolute; 
    width: 6px; 
    height: 6px;
    border-radius: 100%; 
    top: 14px;
    left: 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
  }