/* Styles for the Kanban card component */
.outer-card {
    width: 200px;
    margin: 5px 0;
    border-radius: 4px;
    padding: 13px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
  }
  
  /* Top row: User ID and Circular User Profile */
  .top-row {
    display: flex;
    color: rgb(58, 57, 57);
    justify-content: space-between;
    align-items: flex-start; 
    margin-bottom: 10px; 
    text-align: start;
    font-size: 12px;
  }
  
  .user-id {
    font-weight: bold;
  }
  
  .user-profile-image {
    width: 15px;
    height: 15px;
    border-radius: 8px;
    position: relative; 
  }
  
  .profile {
    width: 20px;
    height: 20px;
    border-radius: 50%; 
  }
  
  .available-dot {
    position: absolute; 
    width: 7px; 
    height: 7px;
    border-radius: 50%; 
    top: 12px;
    border: 1px solid rgb(217, 214, 214);
    left: 11px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
  }
  
  .ticket-title {
    height: 30px;
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 15px;
    display: inline-block;
    text-align: left;
    align-items: center;
  }
  
  .feature-request-button {
    font-size: 9px;
    color: rgb(58, 57, 57);
    border-radius: 4px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(121, 118, 118, 0.3);
  }
  
  .feature-request-left-icon {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
    display: flex;
    justify-items: center;
    border-radius: 3px;
    padding: 3px;
    box-shadow: 0 0 5px rgba(121, 118, 118, 0.3);
  }
  .feature-request-icon {
    display: flex;
    justify-content: center;
    background-color: #bec2c8;
    width: 6px;
    height: 6px;
    border-radius: 7px;
    margin-right: 6px;
  }
  
  .marginright{
    margin-right: 6px;
  }
  