
  .user-profile-image {
    width: 15px;
    height: 15px;
    border-radius: 8px;
    position: relative; 
  }
  
  .profile {
    width: 20px;
    height: 20px;
    border-radius: 50%; 
  }
  
  .available-dot {
    position: absolute; 
    width: 7px; 
    height: 7px;
    border-radius: 50%; 
    top: 12px;
    border: 1px solid rgb(217, 214, 214);
    left: 11px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
  }